gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Keystore committed for reproducible builds
# key.properties
# **/*.keystore
# **/*.jks
